.list {
  margin: 2rem auto;
  width: 90%;
  max-width: 40rem;
  padding: 1rem;
}

.list ul {
  list-style: none;
}

.list li {
  border: 1px solid black;
  margin: 0.5rem 0;
  padding: 0.5rem;
  list-style: none;
}
